<body class="add-or-edit-page">
  <h2>{{#if clothing._id}}Editar Roupa{{else}}Adicionar Roupa{{/if}}</h2>

  <form action="/clothes/{{#if clothing._id}}update/{{clothing._id}}{{else}}add{{/if}}" method="POST">
    <!-- Nome -->
    <div style="margin-bottom: 15px;">
      <label for="nome">Nome da Roupa</label>
      <input type="text" id="nome" name="nome" placeholder="Nome da Roupa" value="{{clothing.nome}}" required>
    </div>

    <!-- Tamanho -->
    <div style="margin-bottom: 15px;">
      <label for="tamanho">Tamanho</label>
      <input type="text" id="tamanho" name="tamanho" placeholder="Tamanho da Roupa" value="{{clothing.tamanho}}" required>
    </div>

    <!-- Cor -->
    <div style="margin-bottom: 15px;">
      <label for="cor">Cor</label>
      <input type="text" id="cor" name="cor" placeholder="Cor da Roupa" value="{{clothing.cor}}" required>
    </div>

    <!-- Preço -->
    <div style="margin-bottom: 15px;">
      <label for="preco">Preço</label>
      <input type="number" id="preco" name="preco" placeholder="Preço da Roupa" value="{{clothing.preco}}" required>
    </div>

    <!-- Quantidade -->
    <div style="margin-bottom: 20px;">
      <label for="quantidade">Quantidade</label>
      <input type="number" id="quantidade" name="quantidade" placeholder="Quantidade disponível" value="{{clothing.quantidade}}" required>
    </div>

    <!-- Botão de Submit -->
    <button onclick="window.location.href='/clothes';">Voltar</button>
    <button type="submit">
      {{#if clothing._id}}Atualizar{{else}}Adicionar{{/if}}
    </button>
  </form>
</body>